<!doctype html>
<html>
  <head>
    <title>Rùnaire</title>
  </head>
  <body>
    <table>
{% for todo_item in todo_items %}
      <tr><td>{{todo_item.name}}</td><tr>
{% endfor %}
    </table>
    <img src="/static/add.svg" alt="Add item." style="width:1em">
  </body>
</html>
